
.contentWarp_item .section_order_select li{
    padding-left:1rem;padding-right: 1rem; position: relative;}
.contentWarp_item .section_order_select li a{padding: 30px 0px;}
.shop_item_box{padding: 35px 0px 50px;}
.shop_item_logo{width: 60px;float: left;height: 60px;}
.shop_item_title{float: left;margin-left: 20px;height:60px;}
.shop_item_title>h1{font-size: 14px;text-align: left;height: 60px;line-height:60px;display: block;text-align: left;}
.shop_item_title em{padding: 0px 6px;line-height: 20px;display: block;color: #ffffff;font-size: 12px;width: 48px;float: left;margin-right: 10px;}
.item_type{background-color: #23C5C7}
.item_status{background-color: #F8AC5A;padding: 0px 6px!important;line-height: 20px;display: inline-block!important;color: #ffffff!important;font-size: 12px;}
.item_status.red{background-color: red;}
.shop_manages{position: absolute;left: 0px;bottom: 0px;background: #9BA3AF;padding: 8px 10px!important;width: 100%;}
.shop_manages>p{font-size: 12px;color: #ffffff;float: left;line-height: 22px;}
.shop_manages>a{float: right;padding: 0px 8px!important;border: 1px solid #eeeeee;background: #ffffff;line-height: 20px;color: #000000;}
.add_boxs>.shop_item_box{float: none;text-align: center;}
.add_boxs>.shop_item_box>img{float: none;text-align: center;margin-bottom: 10px;}
.item_status{width: 48px;float: left;display: block;}
@media screen and (max-width: 1300px){
	.shop_item_title{max-width: 58%;}
}